body {
    background-image: url('Landscape.jpg');
    background-size: cover;
    margin:0;
    padding:0;
}
p {
    font-family: "Georgia";
    font-size: 16pt;
}
h1{
    font-family:"Georgia";
    font-size: 30pt;
}
h2{
    font-family: "Georgia"
}
* {
    
    display:flex;
    flex-flow: row wrap;
}
.post{
    float:right;
}
